html {
  /* background-color: #0F0326; */
  background-color: #0f0326;
}

body {
  height: auto;
  box-sizing: border-box;
}

a {
  color: #bfa1f7;
}

* {
  box-sizing: border-box;
}

/* 99ebcd-9de1fb-fffc31-bfa1f7-e65f5c */
