@value small, medium, large, xl from '../../styles/Breakpoints.module.css';

.skills {
  background-color: #ccff33;
  width: 90%;
  min-height: 580px;
  margin: 2rem auto;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
}

.intro {
  width: 90%;
  align-self: center;
  font-family: "Karla", sans-serif;
  padding: 0.75%;
  padding-top: 1.5%;
}

.intro h2 {
  margin: 1rem auto;
  font-size: 2rem;
}

.intro p {
  font-size: 1.2rem;
}

.panelContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border-radius: 8px;
  padding-bottom: 1.5%;
}

.panel {
  max-height: 500px;
  flex: 1;
  margin: 1.5%;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 1% 2%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.widePanel {
  max-height: 500px;
  margin: 1%;
  border-radius: 8px;
  display: flex;
  flex: 1 100%;
  flex-flow: column;
  position: relative;
}

.titleRow {
  font-family: "Rubik", sans-serif;
}

.date {
  font-size: 0.75em;
  font-weight: 400;
}

.detailRow {
  font-size: 0.9em;
  max-width: 350px;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-wrap: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.subdetail {
  font-size: 1.1em;
  font-family: "Karla", sans-serif;
}

.skillsList {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  color: #0f0326;
}

.skillsList i {
  margin: 1.5%;
  padding: 2%;
  width: 88px;
  font-size: 3.8em;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
}

.skillsList i:hover {
  background-color: white;
  cursor: pointer;
  border-radius: 8px;
}

.skillName {
  margin: 5px;
  align-self: center;
  text-align: center;
  font-size: 12px;
  opacity: 0;
  font-family: "Rubik", sans-serif;
  color: #0f0326;
}

.skillsList i:hover > .skillName {
  opacity: 100;
}

@media (small) {
  .panelContainer {
    flex-flow: column wrap;
  }

  .skillsList {
    flex-flow: row wrap;
    margin-bottom: 1.5%;
  }

  .skillsList i {
    max-width: 20%;
    height: auto;
  }

  .skillName {
    opacity: 100;
  }

  .panel {
    padding: 2% 2%;
  }
}

@media (medium) {
  .skillsList i {
    max-height: 90px;
    height: auto;
  }
}

@media (large) {
  .panel {
    padding: 1% 2%;
  }

  .skillsList i {
    max-width: unset;
    height: auto;
    max-height: 110px;
  }

  .skillName {
    opacity: 0;
  }

}

@media (xl) {
  .panelContainer {
    flex-flow: row wrap;
  }
}
