@value small, medium, large, xl from '../../styles/Breakpoints.module.css';

.nav {
  width: 90%;
  margin: 2rem auto;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  border-radius: 8px;

  @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap");
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.15em;
  flex-flow: column;
}

.navlist {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  padding: 0;
  margin-bottom: 0.5em;

}

.item {
  padding: 7.5px;
  margin: 5px;
  border-bottom: 2px solid transparent;
  height: 40px;
}

.item a {
  text-decoration: none;
  color: #f7f7f7;
}

.item:hover {
  color: #99ebcd;
  cursor: pointer;
  border-bottom: 2px solid #bfa1f7;
}

.item:hover a {
  color: #99ebcd;
  cursor: pointer;
}

.wordmark {
  color: #e65f5c;
  justify-self: center;
  margin-left: 3.25%;
  min-width: 160px;
}

@media (medium) {
  .navlist {
    justify-content: center;
    align-items: center;
    min-height: 70px;
  }
  .wordmark {
    justify-self: center;
  }
}

@media (large) {
  .navlist {
    justify-content: flex-end;
    width: 100%;
  }

  .nav {
    flex-flow: row;
  }
}
